# ======================
# Node modules
# ======================
node_modules/
client/node_modules/
Backend/node_modules/

# ======================
# Build folders
# ======================
dist/
build/
client/dist/
Backend/dist/

# ======================
# Environment files
# ======================
.env
client/.env
Backend/.env

# ======================
# Logs
# ======================
logs
*.log
npm-debug.log*

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/